.header{
    max-width: 80%;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}

.content{
    margin: 30px auto;
    background-color: aqua;
    max-width: 90vw;
    border: 2px solid black;
}

.card{
    float: left;
    width: 20vw;
    height: 100px;
    margin: 1vw 1.25vw;
    border: 0;
    border-radius: 10px;
    color: antiquewhite;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color:slategrey;
}