.header{
    background-color: yellow;
    height: 14vh;
}

.headerPart{
    height: 7vh;
    text-align: center;
}

#searchBar{
    height: 2.5vh;
    margin-top: 2vh;
}

.navBar{
    border-style: solid;
    line-height: 6vh;
}

.navOptions{
    vertical-align: middle;
    line-height: normal;
    margin-left: 2vw;
}

.navOptions:hover{
    padding: 0.5%;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    background-color:darkslategrey;
    cursor: pointer;
}

.content{
    background-color: #ebebeb;
    height: 86vh;
    text-align: center;
}

.benefits{
    height: 15vh;
    background-color: white;
    border-radius: 1vw;
}

.offer, .firstOffer{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
}

.firstOffer{
    border-right: solid black 2px;
}

.offerTitle{
    margin-top: 3.5vh;
}

.offerTitle, .subTitle{
    margin-left: 1vw;
}

.contents{
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;
}

.marketItem{
    background-color: white;
    border-radius: 3px;
    height: 244px;
    width: 15vw;
    float: left;
    margin: 0 2.5vw;
    overflow: hidden;
}

.marketItem:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    height: 330px;
    cursor: pointer;
}