.header{
    background-color: yellow;
    height: 14vh;
}

.headerPart{
    height: 7vh;
    text-align: center;
}

#searchBar{
    height: 2.5vh;
    margin-top: 2vh;
}

.navBar{
    border-style: solid;
    line-height: 6vh;
}

.navOptions{
    vertical-align: middle;
    line-height: normal;
    margin-left: 2vw;
    text-decoration: none;
    color: black;
}

.navOptions:hover{
    padding: 0.5%;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    background-color:darkslategrey;
    cursor: pointer;
}

.content{
    background-color: #ebebeb;
    height: 86vh;
    text-align: center;
}

.benefits{
    height: 15vh;
    background-color: white;
    border-radius: 1vw;
}

.offer, .firstOffer{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
}

.firstOffer{
    border-right: solid black 2px;
}

.offerTitle{
    margin-top: 3.5vh;
}

.offerTitle, .subTitle{
    margin-left: 1vw;
}

.contents{
    width: 80vw;
    margin-top: 5vh;
    display: inline-block;
}

.marketItem{
    background-color: white;
    border-radius: 3px;
    height: 244px;
    width: 15vw;
    float: left;
    margin: 0 2.5vw;
    overflow: hidden;
}

.marketItem:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    height: 330px;
    cursor: pointer;
}

.registerForm{
    background-color: white;
    border-radius: 3px;
    padding: 5vw;
}

.formInput{
    text-align: left;
    margin-bottom: 2vh;
}

.formInput label{
    display: block;
}

.formInput input[type="text"],
.formInput input[type="email"],
.formInput input[type="password"]{
    width: 70vw;
    height: 5vh;
    margin: 1vh 0;
    border-radius: 3px;
}

.formInput input[type="text"]:focus,
.formInput input[type="email"]:focus,
.formInput input[type="password"]:focus{
    border-color: lightslategrey;
    outline: black;
}

.formInput input[type="checkbox"]{
    margin-left: 1vw;
    margin-right: 3vw;
    cursor: pointer;
}

.formInput input{
    border: 1px solid #a8a8a8;
}

.formInput input[type="submit"]{
    background-color: yellow;
    width: 20vw;
    height: 5vh;
    border-radius: 3px;
    border: 0;
    color: slategrey;
}

.formInput input[type="submit"]:hover{
    background-color: rgb(253, 253, 63);
    cursor: pointer;
}

.genderOptions{
    display: flex;
}

.genderOptions label{
    font: normal;
}